body {
  margin: 0;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
canvas {
  border: 3px solid white;
  background: #87ceeb; /* sky blue */
}
